
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Agent Activity</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Online Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Online Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Online Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Online Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Back Soon Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Back Soon Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Back Soon Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Back Soon Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Away Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Away Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Away Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Away Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Logged In Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Logged In Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Logged In Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Logged In Max Concurrency</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/custom.js"></script>
<script src="/js/dashboard/agentActivityScript.js"></script>
