<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Agent Activity</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Online Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Online Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Online Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Online Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Back Soon Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Back Soon Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Back Soon Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Back Soon Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Away Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Away Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Away Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Away Max Concurrency</th>
                                <th title="The total time the agent was in this state (hh:mm:ss).">Logged In Total</th>
                                <th title="The total time the agent was chatting in this state (hh:mm:ss).">Logged In Chatting</th>
                                <th title="The total time the agent was not chatting in this state (hh:mm:ss).">Logged In Not Chatting</th>
                                <th title="The amount of time the agent was chatting concurrently with the maximum allowed chats in this state (hh:mm:ss).">Logged In Max Concurrency</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //variable for the list of agents
    var agentList = null;
    $(document).ready(function() {
        $('#example').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example thead th[title]').tooltip({
                    "container": 'body'
                });
            },
            "aoColumnDefs": [{
                "sClass": "online",
                "aTargets": [1, 2, 3, 4]
            }, {
                "sClass": "away",
                "aTargets": [9, 10, 11, 12]
            }],
             dom: 'Bflrtip',
            buttons: [
                'copy', 'csv', 'excel','print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ]
        });
        $.ajax({
            type: 'GET',
            url: '/agentList',
            success: function(data2) {
                agentList = data2;
                //console.log(agentList);
                //populate the table with the api info
                getData();
            }
        });
    });

    function getData() {
        var oTable = $('#example').DataTable();
        $.ajax({
            type: 'GET',
            url: '/agentActivity',
            success: function(data) {
                if(data.Fail != "undefined" && data.Fail != "404"){
                    oTable
                        .clear()
                        .draw();
                    for (var agent in data.agentsMetrics.metricsPerAgent) {
                        // data available for each agent in the 
                        var agentID = null;
                        if (agentList.hasOwnProperty(agent)) {
                            agentID = agentList[agent].nickname;
                        } else {
                            agentID = agent;
                        }
                        var onlineTotal = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][0].value.total);
                        var onlineChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][0].value.chatting);
                        var onlineNotChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][0].value.notChatting);
                        var onlineMaxConcurrency = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][0].value.chattingInMaxConcurrency);
                        var backSoonTotal = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][1].value.total);
                        var backSoonChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][1].value.chatting);
                        var backSoonNotChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][1].value.notChatting);
                        var backSoonMaxConcurrency = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][1].value.chattingInMaxConcurrency);
                        var awayTotal = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.total);
                        var awayChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.chatting);
                        var awayNotChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.notChatting);
                        var awayMaxConcurrency = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.chattingInMaxConcurrency);
                        var loggedInTotal = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][3].value.total);
                        var loggedInChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][3].value.chatting);
                        var loggedInNotChatting = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.notChatting);
                        var loggedInMaxConcurrency = secondsToHms(data.agentsMetrics.metricsPerAgent[agent][2].value.chattingInMaxConcurrency);
                        oTable.row.add([agentID, onlineTotal, onlineChatting, onlineNotChatting, onlineMaxConcurrency, backSoonTotal, backSoonChatting, backSoonNotChatting, backSoonMaxConcurrency, awayTotal, awayChatting, awayNotChatting, awayMaxConcurrency, loggedInTotal, loggedInChatting, loggedInNotChatting, loggedInMaxConcurrency]).draw();
                    }
                }
                else {
                    window.location.href = "/error";
                }
            }
        });
    }

</script>
<script src="/js/custom.js"></script>
