<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Current Queue State</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the skill.">Skill ID</th>
                                <th title="The current queue number of available slots.">Current Available Slots</th>
                                <th title="The current queue size.">Current Queue Size</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //variable for the list of skills
    var skillList = null;
    $(document).ready(function() {
        $('#example').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example thead th[title]').tooltip({
                    "container": 'body'
                });
            },
             dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
        ]
        });
        $.ajax({
            type: 'GET',
            url: '/skillList',
            success: function(data2) {
                $.ajax({
                    type: 'POST',
                    url: '/getOauth',
                    success: function(data) {
                        sla = data.sla;
                        skillList = data2;
                        //console.log(skillList);
                        //populate the table with the api info
                        getData();
                    }
                });
            }
        });
    });

    function getData() {
        var oTable = $('#example').DataTable();
       $.ajax({
            type: 'GET',
            url: '/currentQueueState',
            success: function(data) {
                console.log(data);
                if(data.Fail != "undefined" && data.Fail != "404"){
                    oTable
                        .clear()
                        .draw();
                    var skillId = "";
                    var currentQueueSize = 0;
                    var currentAvailableSlots = 0;
                    if(data.hasOwnProperty("skills")){
                        for(var skill in data.skills){
                            // data available for each skill
                            if (skillList.hasOwnProperty(skill)) {
                                skillId = skillList[skill];
                            } else {
                                if (skill == -1) {
                                    skillId = "Unassigned"
                                } else {
                                    skillId = skill;
                                }
                            }
                            currentQueueSize = data.skills[skill].currentQueueSize;
                            currentAvailableSlots = data.skills[skill].currentAvailableSlots;
                            if(currentQueueSize == -1){
                                currentQueueSize = "No Data";
                                currentAvailableSlots = "No Data";
                            }
                            oTable.row.add([skillId,currentAvailableSlots,currentQueueSize]).draw();
                        }
                    }
                    if(data.hasOwnProperty("totals")){
                        skillId = "All";
                        currentQueueSize = data.totals.currentQueueSize;
                        currentAvailableSlots = data.totals.currentAvailableSlots;
                        if(currentQueueSize == -1){
                                currentQueueSize = "No Data";
                                currentAvailableSlots = "No Data";
                            }
                        oTable.row.add([skillId,currentAvailableSlots,currentQueueSize]).draw();
                    }
                }
                 else {
                    window.location.href = "/error";
                }
            }
        });
    }

</script>
<script src="/js/custom.js"></script>
