<div class="right_col" role="main">

    <div class="row" id="table1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="eaSkill">
                <div class="x_title">
                    <h2>Engagement Activity - Skill Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings">
                                <th title="The id of the skill.">Skill ID</th>
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="eaAgent">
                <div class="x_title">
                    <h2>Engagement Activity - Agent Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example2" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Engagement Activity - Account Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example3" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings">
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    //variable for the list of agents
    var agentList = null;
    //variable for the list of skills
    var skillList = null;
    $(document).ready(function() {
        $('#example').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example thead th[title]').tooltip({
                    "container": 'body'
                });
            },
             dom: 'Bflrtip',
            buttons: [
                'copy', 'csv', 'excel','print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ]
        });
        $('#example2').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example2 thead th[title]').tooltip({
                    "container": 'body'
                });
            },
             dom: 'Bflrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ]
        });
        $('#example3').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example3 thead th[title]').tooltip({
                    "container": 'body'
                });
            },
             dom: 'Bflrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ]
        });
        // hide the tables 
        $('#table1').hide();
        $('#table2').hide();
        $('#table3').hide();
        //get the agent list from the csv
        $.ajax({
            type: 'GET',
            url: '/agentList',
            success: function(data) {
                agentList = data;
                // console.log(agentList);
                $.ajax({
                    type: 'GET',
                    url: '/skillList',
                    success: function(data2) {
                        skillList = data2;
                        //console.log(skillList);
                        //populate the table with the api info
                        getData();
                    }
                });
            }
        });
    });

    function getData() {
        var oTable = $('#example').DataTable();
        var oTable2 = $('#example2').DataTable();
        var oTable3 = $('#example3').DataTable();
        $.ajax({
            type: 'GET',
            url: '/engagementActivity',
            success: function(data) {
                if(data.Fail != "undefined" && data.Fail != "404"){
                    oTable
                        .clear()
                        .draw();
                    oTable2
                        .clear()
                        .draw();
                    oTable3
                        .clear()
                        .draw();
                    // data that is available 
                    var skillId;
                    var agentId;
                    var totalInteractiveChats;
                    var totalNonInteractiveChats;
                    var totalHandlingTime;
                    var nonInteractiveTotalHandlingTime;
                    var connectedEngagements;
                    // skill metrics per agent table
                    if (data.hasOwnProperty('skillsMetricsPerAgent')) {
                        $('#table1').show();
                        for (var skill in data.skillsMetricsPerAgent.metricsPerSkill) {
                            //skillId = skill;
                            if (skillList.hasOwnProperty(skill)) {
                                skillId = skillList[skill];
                            } else {
                                if (skill == -1) {
                                    skillId = "Unassigned"
                                } else {
                                    skillId = skill;
                                }
                            }
                            for (var agent in data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent) {
                                //agentId = agent;
                                if (agentList.hasOwnProperty(agent)) {
                                    agentId = agentList[agent].nickname;
                                } else {
                                    agentId = agent;
                                }
                                totalInteractiveChats = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent[agent].totalInteractiveChats;
                                totalNonInteractiveChats = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent[agent].totalNonInteractiveChats;
                                totalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent[agent].totalHandlingTime);
                                nonInteractiveTotalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent[agent].nonInteractiveTotalHandlingTime);
                                connectedEngagements = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsPerAgent[agent].connectedEngagements;
                                // add to data table
                                oTable.row.add([skillId, agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                            }
                            // total for skill
                            agentId = "All";
                            totalInteractiveChats = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsTotals.totalInteractiveChats;
                            totalNonInteractiveChats = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsTotals.totalNonInteractiveChats;
                            totalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsTotals.totalHandlingTime);
                            nonInteractiveTotalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsTotals.nonInteractiveTotalHandlingTime);
                            connectedEngagements = data.skillsMetricsPerAgent.metricsPerSkill[skill].metricsTotals.connectedEngagements;
                            // add to data table
                            oTable.row.add([skillId, agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                        }
                        // totals for all skills
                        skillId = "All";
                        agentId = "All";
                        totalInteractiveChats = data.skillsMetricsPerAgent.metricsTotals.totalInteractiveChats;
                        totalNonInteractiveChats = data.skillsMetricsPerAgent.metricsTotals.totalNonInteractiveChats;
                        totalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsTotals.totalHandlingTime);
                        nonInteractiveTotalHandlingTime = secondsToHms(data.skillsMetricsPerAgent.metricsTotals.nonInteractiveTotalHandlingTime);
                        connectedEngagements = data.skillsMetricsPerAgent.metricsTotals.connectedEngagements;
                        // add to data table
                        oTable.row.add([skillId, agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                    }
                    // agent metrics table
                    if (data.hasOwnProperty('agentsMetrics')) {
                        $('#table2').show();
                        for (var agent in data.agentsMetrics.metricsPerAgent) {
                            if (agentList.hasOwnProperty(agent)) {
                                agentId = agentList[agent].nickname;
                            } else {
                                agentId = agent;
                            }
                            totalInteractiveChats = data.agentsMetrics.metricsPerAgent[agent].totalInteractiveChats;
                            totalNonInteractiveChats = data.agentsMetrics.metricsPerAgent[agent].totalNonInteractiveChats;
                            totalHandlingTime = secondsToHms(data.agentsMetrics.metricsPerAgent[agent].totalHandlingTime);
                            nonInteractiveTotalHandlingTime = secondsToHms(data.agentsMetrics.metricsPerAgent[agent].nonInteractiveTotalHandlingTime);
                            connectedEngagements = data.agentsMetrics.metricsPerAgent[agent].connectedEngagements;
                            // add to data table
                            oTable2.row.add([agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                        }
                        // totals for all agents
                        agentId = "All";
                        totalInteractiveChats = data.agentsMetrics.metricsTotals.totalInteractiveChats;
                        totalNonInteractiveChats = data.agentsMetrics.metricsTotals.totalNonInteractiveChats;
                        totalHandlingTime = secondsToHms(data.agentsMetrics.metricsTotals.totalHandlingTime);
                        nonInteractiveTotalHandlingTime = secondsToHms(data.agentsMetrics.metricsTotals.nonInteractiveTotalHandlingTime);
                        connectedEngagements = data.agentsMetrics.metricsTotals.connectedEngagements;
                        // add to data table
                        oTable2.row.add([agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                    }
                    // totals for all skills and agents
                    if (data.hasOwnProperty('metricsTotals')) {
                        $('#table3').show();
                        totalInteractiveChats = data.metricsTotals.totalInteractiveChats;
                        totalNonInteractiveChats = data.metricsTotals.totalNonInteractiveChats;
                        totalHandlingTime = secondsToHms(data.metricsTotals.totalHandlingTime);
                        nonInteractiveTotalHandlingTime = secondsToHms(data.metricsTotals.nonInteractiveTotalHandlingTime);
                        connectedEngagements = data.metricsTotals.connectedEngagements;
                        oTable3.row.add([totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                    }
                }
                 else {
                    window.location.href = "/error";
                }
            }
        });
    }

</script>
<script src="/js/custom.js"></script>
