<div class="right_col" role="main">
    <div class="row" id="table1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="eaSkill">
                <div class="x_title">
                    <h2>Engagement Activity - Skill Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings">
                                <th title="The id of the skill.">Skill ID</th>
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="eaAgent">
                <div class="x_title">
                    <h2>Engagement Activity - Agent Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example2" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Engagement Activity - Account Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example3" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings">
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time that was spent handing the interactive chats in the current interval/time frame (hh:mm:ss).">Total Handling Time</th>
                                <th title="The total time that was spent handing the noninteractive chats in the current interval/time frame (hh:mm:ss).">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/dashboard/engagementActivity.js"></script>
<script src="/js/custom.js"></script>