<div class="right_col" role="main">
    <form class="form-horizontal" role="form" method="GET" action="/saveSettingsMsg">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="step1">
                    <div class="x_title">
                        <h2>API Keys</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <div id="time"></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="accountNum">Account Number:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="accountNum" id="accountNum" placeholder="Enter account number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="consumerKey">App Key:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="consumerKey" id="consumerKey" placeholder="Enter consumer key" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="consumerSecret">Secret:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="consumerSecret" id="consumerSecret" placeholder="Enter consumer secret" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="accessToken">Access Token:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="accessToken" id="accessToken" placeholder="Enter access token" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="accessTokenSecret">Access Token Secret:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="accessTokenSecret" id="accessTokenSecret" placeholder="Enter access token secret" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="step4">
                    <div class="x_title">
                        <h2>Messaging Conversation API Settings</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" id="step6">
                            <label for="msgConRange">Time Fame (enter a value from 1 to 1440):</label>
                            <input type="text" class="form-control" id="msgConRange" name="msgConRange" value="1">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="step7">
                                    <label for="msgConskillSelect">Select Skill Option:</label>
                                    <select class="form-control" id="msgConskillSelect" name="msgConskillSelect">
                                        <option value="1">All</option>
                                        <option value="2">Specific Skills</option>
                                        <option value="3">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="step9">
                                    <label for="msgConAgentSelect">Select Agent Option:</label>
                                    <select class="form-control" id="msgConAgentSelect" name="msgConAgentSelect">
                                        <option value="1">All</option>
                                        <option value="2">Specific Agents</option>
                                        <option value="3">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12" id="step8">
                                <label for="msgConskillIDList">Select Skills Below (Hold down Ctrl to select multiple):</label>
                                <select id="msgConskillIDList" name="msgConskillIDList" class="form-control" multiple disabled></select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" id="step10">
                                <label for="msgConagentIDList">Select Agents Below (Hold down Ctrl to select multiple):</label>
                                <select id="msgConagentIDList" name="msgConagentIDList" class="form-control" multiple disabled></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="step4">
                    <div class="x_title">
                        <h2>Messaging CSAT Distribution API Settings</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" id="step6">
                            <label for="msgcsatRange">Time Fame (enter a value from 1 to 1440):</label>
                            <input type="text" class="form-control" id="msgcsatRange" name="msgcsatRange" value="1">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="step7">
                                    <label for="msgcsatskillSelect">Select Skill Option:</label>
                                    <select class="form-control" id="msgcsatskillSelect" name="msgcsatskillSelect">
                                        <option value="1">All</option>
                                        <option value="2">Specific Skills</option>
                                        <option value="3">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="step9">
                                    <label for="msgcsatAgentSelect">Select Agent Option:</label>
                                    <select class="form-control" id="msgcsatAgentSelect" name="msgcsatAgentSelect">
                                        <option value="1">All</option>
                                        <option value="2">Specific Agents</option>
                                        <option value="3">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12" id="step8">
                                <label for="msgcsatskillIDList">Select Skills Below (Hold down Ctrl to select multiple):</label>
                                <select id="msgcsatskillIDList" name="msgcsatskillIDList" class="form-control" multiple disabled></select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" id="step10">
                                <label for="msgcsatagentIDList">Select Agents Below (Hold down Ctrl to select multiple):</label>
                                <select id="msgcsatagentIDList" name="msgcsatagentIDList" class="form-control" multiple disabled></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7" id="step11">
                    <a href="/msgDashboard" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src='/js/dashboard/msgsettingsScript.js'></script>
<script src="/js/custom.js"></script>