<div class="right_col" role="main">
    <div class="row" id="table1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Messaging CSAT Distribution - Skill Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the skill.">Skill ID</th>
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The percentage of the total answers which were positive (scores 4 and 5) which were submitted in the current time frame.">CSAT Score</th>
                                <th title="The total number of CSAT 4 and 5 answers which were submitted in the current time frame.">Positive Answers</th>
                                <th title="The total number of answers which were submitted in the current time frame.">Total Answers</th>
                                <th title="The number of times CSAT answer 1 was submitted in the current time frame.">CSAT Score 1 Answers</th>
                                <th title="The number of times CSAT answer 2 was submitted in the current time frame.">CSAT Score 2 Answers</th>
                                <th title="The number of times CSAT answer 3 was submitted in the current time frame.">CSAT Score 3 Answers</th>
                                <th title="The number of times CSAT answer 4 was submitted in the current time frame.">CSAT Score 4 Answers</th>
                                <th title="The number of times CSAT answer 5 was submitted in the current time frame.">CSAT Score 5 Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Messaging CSAT Distribution - Agent Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example2" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The percentage of the total answers which were positive (scores 4 and 5) which were submitted in the current time frame.">CSAT Score</th>
                                <th title="The total number of CSAT 4 and 5 answers which were submitted in the current time frame.">Positive Answers</th>
                                <th title="The total number of answers which were submitted in the current time frame.">Total Answers</th>
                                <th title="The number of times CSAT answer 1 was submitted in the current time frame.">CSAT Score 1 Answers</th>
                                <th title="The number of times CSAT answer 2 was submitted in the current time frame.">CSAT Score 2 Answers</th>
                                <th title="The number of times CSAT answer 3 was submitted in the current time frame.">CSAT Score 3 Answers</th>
                                <th title="The number of times CSAT answer 4 was submitted in the current time frame.">CSAT Score 4 Answers</th>
                                <th title="The number of times CSAT answer 5 was submitted in the current time frame.">CSAT Score 5 Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Messaging CSAT Distribution - Account Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example3" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The percentage of the total answers which were positive (scores 4 and 5) which were submitted in the current time frame.">CSAT Score</th>
                                <th title="The total number of CSAT 4 and 5 answers which were submitted in the current time frame.">Positive Answers</th>
                                <th title="The total number of answers which were submitted in the current time frame.">Total Answers</th>
                                <th title="The number of times CSAT answer 1 was submitted in the current time frame.">CSAT Score 1 Answers</th>
                                <th title="The number of times CSAT answer 2 was submitted in the current time frame.">CSAT Score 2 Answers</th>
                                <th title="The number of times CSAT answer 3 was submitted in the current time frame.">CSAT Score 3 Answers</th>
                                <th title="The number of times CSAT answer 4 was submitted in the current time frame.">CSAT Score 4 Answers</th>
                                <th title="The number of times CSAT answer 5 was submitted in the current time frame.">CSAT Score 5 Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/dashboard/messagingcsatScript.js"></script>
<script src="/js/custom.js"></script>
