<div class="right_col" role="main">
<div id="time" style="display: none;"></div>
   <!-- top tiles 2--> 
   <div class="row" id="tiles">
      <!-- ROW 1 -->
      <div class="row tile_count">
      	<div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The total number of conversations that are open." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Total Open Conversations</span>
               	<div class="count" id="conTotal"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of Agents currently logged in." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Total Logged In</span>
               	<div class="count" id="loggedInAgents"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of conversations that were marked as resolved by the consumer in the current interval/time frame." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Average Speed of Answer (ASA)</span>
               	<div class="count" id="firstResponse"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of closed conversations." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Total Closed Conversations</span>
               	<div class="count" id="conRes"></div>
            </div>
        </div>
      </div>

      <!-- ROW 2 -->
      <div class="row tile_count"></div>
      <!-- /top tiles 2-->
      <div class="row tile_count">
      	<div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The average number of conversations resolved per agent." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Average Resolved per Agent</span>
               	<div class="count" id="conRes"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of agents currently set to Available." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Available Agents</span>
               	<div class="count" id="onlineAgents"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of conversations that are currently active." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Active Conversations</span>
               	<div class="count" id="conActive"></div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The average handling time of conversations that were marked as resolved in the current interval/time frame (hh:mm:ss)." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Ave Active Conversations</span>
               	<div class="count" id="aveOnlineAgents"></div>
            </div>
        </div>
      </div>

      <!-- ROW 3 -->
      <div class="row tile_count"></div>
      <div class="row tile_count">
      	<div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The total number of conversations that were marked as resolved by the CSR in the current interval/timeframe." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Resolved by CSR</span>
               	<div class="count" id="conCCP"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of agents currently set to Away" data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Agents Away</span>
               	<div class="count" id="awayAgents"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of messages sent by consumers." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Inbound Messages</span>
               	<div class="count" id="conInbound"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of conversations that have not been assigned." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Unassigned Conversations</span>
               	<div class="count" id="conInQueue"></div>
            </div>
        </div>
        
      </div>

      <!-- ROW 4 -->
      <div class="row tile_count"></div>
      <div class="row tile_count">
      	<div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The average handling time of conversations that were marked as resolved in the current interval/time frame (hh:mm:ss)." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Customer Resolution Time (CRT)</span>
               	<div class="count" id="avgHandlingTime"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of agents set to Back Soon" data-placement="bottom">
            <div class="left"></div>
            <div class="right">
               <span class="count_top">Agents Back Soon</span>
               <div class="count" id="backAgents"></div>
            </div>
         </div>
        
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of messages sent by Agents." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Outbound Messages</span>
               	<div class="count" id="conOutbound"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The percentage of the total answers which were positive (scores 4 and 5) which were submitted in the current time frame." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">CSAT Score</span>
               	<div class="count" id="csatScore"></div>
            </div>
        </div>
      </div>

      <!-- ROW 5 -->
      <div class="row tile_count"></div>
      <!-- top tiles -->
      <div class="row tile_count">
      	<div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The number of conversations that were marked as resolved by the customer in the current interval/time frame." data-placement="bottom">
        	<div class="left"></div>
            	<div class="right">
               		<span class="count_top">Resolved By Customer</span>
               	<div class="count" id="conCon"></div>
            </div>
        </div>
         <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="" data-placement="bottom">
            <div class="left"></div>
            <div class="right">
               <span class="count_top" style="display: none;">CSAT</span>
               <div class="count" id="csatScore"></div>
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The total number of answers which were submitted in the current time frame." data-placement="bottom">
            <div class="left"></div>
            <div class="right">
               <span class="count_top">Average Resolution Time</span>
               <div class="count" id="avgTime"></div>
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count" data-toggle="tooltip" title="The average number of messages per conversation." data-placement="bottom">
            <div class="left"></div>
            <div class="right">
               <span class="count_top">Messages per Conversation</span>
               <div class="count" id="numMessages"></div>
            </div>
         </div>
      </div>
      <div class="row tile_count"></div>
   </div>
   <!-- /top tiles -->
   <div class="row" style="display: none;">
   		<div class="col-md-6 col-sm-6 col-xs-12">
   			<div class="x_panel">
	            <div class="x_title">
	               <h2 class="graph2">Combined Skill Status</h2>
	               &nbsp;<span class="skillStatus" id="skillStatus">Online</span><span class="skillStatus2" id="skillStatus2">Offline</span>
	               <ul class="nav navbar-right panel_toolbox">
	                  <li>
	                     <h2><i class="fa fa-info-circle" data-toggle="tooltip" title="The overall skill status for each skill in the timeframe you selected in the Agent Activity API settings." data-placement="bottom"></i></h2>
	                  </li>
	                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                  <li><a class="close-link"><i class="fa fa-close"></i></a></li>
	               </ul>
	               <div class="clearfix"></div>
	            </div>
	            <div class="x_content" style="text-align: center">
	               <table id="skillStatusTable" class="table table-striped responsive-utilities cell-border">
	                  <thead>
	                     <tr class="headings" id="headings">
	                        <th title="The id of the skill.">Skill</th>
	                        <th title="The current overall status of that skill.">Status</th>
	                     </tr>
	                  </thead>
	                  <tbody></tbody>
	               </table>
	            </div>
	         </div>
   		</div>
   		<div class="col-md-6 col-sm-6 col-xs-12">
   			<div class="x_panel">
	            <div class="x_title">
	               <h2 class="graph2">Agent Status</h2>
	               <ul class="nav navbar-right panel_toolbox">
	                  <li>
	                     <h2><i class="fa fa-info-circle" data-toggle="tooltip" title="The total number of agents and the states they in for the timeframe you selected in the Agent Activity API settings." data-placement="left"></i></h2>
	                  </li>
	                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                  <li><a class="close-link"><i class="fa fa-close"></i></a></li>
	               </ul>
	               <div class="clearfix"></div>
	            </div>
	            <div class="x_content">
	               <table id="agentStatusTable" class="table table-striped responsive-utilities cell-border">
	                  <thead>
	                     <tr class="headings" id="headings">
	                        <th title="The status of the agent.">Status</th>
	                        <th title="The total number of agents in this state.">Total</th>
	                     </tr>
	                  </thead>
	                  <tbody>
	                     <tr>
	                        <td>Logged In</td>
	                        <td><span id="nlogged">0</span></td>
	                     </tr>
	                     <tr>
	                        <td>Online</td>
	                        <td><span id="nonline">0</span></td>
	                     </tr>
	                     <tr>
	                        <td>Back Soon</td>
	                        <td><span id="nback">0</span></td>
	                     </tr>
	                     <tr>
	                        <td>Away</td>
	                        <td><span id="naway">0</span></td>
	                     </tr>
	                  </tbody>
	               </table>
	            </div>
	         </div>
   		</div>
   </div>
   <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="x_panel" id="avg24hr">
            <div class="x_title">
               <h2 class="graph2">Conversations Resolved By</h2>
               <ul class="nav navbar-right panel_toolbox">
                  <li>
                     <h2><i class="fa fa-info-circle" data-toggle="tooltip" title="This chart shows the total number of positive answers out of the total number of answers for the time frame and options that you selected in the Messaging CSAT Distribution API settings." data-placement="bottom"></i></h2>
                  </li>
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="x_content">
               <canvas id="lineChart24hr"></canvas>
               <div id="js-legend24hr" class="chart-legend"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="x_panel">
            <div class="x_title">
               <h2 class="graph2">CSAT Distribution</h2>
               <ul class="nav navbar-right panel_toolbox">
                  <li>
                     <h2><i id="infoTip" class="fa fa-info-circle" data-toggle="tooltip" title="This graph shows the total number of responses each CSAT Answer recieved for the time frame and options that you selected in the Messaging CSAT Distribution API settings." data-placement="bottom"></i></h2>
                  </li>
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="x_content">
               <canvas id="lineChart"></canvas>
               <div id="js-legend" class="chart-legend"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="/js/dashboard/msgDBScript.js"></script>
<script src="/js/custom.js"></script>