<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Queue Health</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings" id="headings">
                                <th title="The id of the skill.">Skill ID</th>
                                <th title="The average time that a visitor spent in the queue before being connected to an agent (hh:mm:ss).">Avg. Time To Ans.</th>
                                <th title="Indicates wheter the average time to answer is under the SLA time." id="slaheader">SLA</th>
                                <th title="The total time that the visitors spent in the queue before being connected to an agent (hh:mm:ss).">Total Time To Ans.</th>
                                <th title="The average time visitors spend in queue before abandon (hh:mm:ss).">Avg. Time To Abandon</th>
                                <th title="Total time visitors spend in queue before abandon (hh:mm:ss).">Total Time To Abandon</th>
                                <th title="The number of visitors that abandoned the queue out of the total visitors that started an engagement.">Abandon Rate</th>
                                <th title="The number of visitors that entered the queue.">Entered Queue</th>
                                <th title="The number of visitors that abandoned the queue before being connected to an agent.">Abandoned Chats</th>
                                <th title="The number of visitors that were connected to an agent.">Connected</th>
                                <th title="The maximum queue size within the given time frame.">Max Queue Size</th>
                                <th title="The minimum queue size within the given time frame.">Min Queue Size</th>
                                <th title="The average queue size within the given time frame (rounded).">Avg. Queue Size</th>
                                <th title="The current queue size.">Current Queue Size</th>
                                <th title="Sum of all queue sizes received.">Queue Size Sum</th>
                                <th title="Total number of queue size measures made.">Queue Size Count</th>
                                <th title="The current number of available slots.">Current Avail. Slots</th>
                                <th title="The maximum available slots within the given time frame.">Max Avail. Slots</th>
                                <th title="The minimum available slots within the given time frame.">Min Avail. Slots</th>
                                <th title="The average available slots within the given time frame (rounded).">Avg. Avail. Slots</th>
                                <th title="Sum of all available slots received.">Avail. Sum</th>
                                <th title="Total number of available slots measures made.">Avail. Count</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //variable for the list of skills
    var skillList = null;
    var sla = null;
    $(document).ready(function() {
        $('#lineChart').hide();
        $('#lineChart2').hide();
        $('#example').DataTable({
            "initComplete": function(settings) {
                /* Apply the tooltips */
                $('#example thead th[title]').tooltip({
                    "container": 'body'
                });
            },
            "aoColumnDefs": [{
                "sClass": "breakAll",
                "aTargets": [0]
                }
            ],
             dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'print'
            ],
            aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ]
        });
        $.ajax({
            type: 'GET',
            url: '/skillList',
            success: function(data2) {
                $.ajax({
                    type: 'POST',
                    url: '/getOauth',
                    success: function(data) {
                        sla = data.sla;
                        skillList = data2;
                        //console.log(skillList);
                        //populate the table with the api info
                        getData();
                    }
                });
            }
        });
    });

    function getData() {
        var oTable = $('#example').DataTable();
        $.ajax({
            type: 'GET',
            url: '/queueHealth',
            success: function(data) {
                //console.log(data);
                if(data.Fail != "undefined" && data.Fail != "404"){
                    oTable
                        .clear()
                        .draw();
                    // metric totals for all skills that were included in the call
                    var skillID = "All";
                    var avgTimeToAbandon = secondsToHms(data.metricsTotals.avgTimeToAbandon);
                    var totalTimeToAnswer = secondsToHms(data.metricsTotals.totalTimeToAnswer);
                    var totalTimeToAbandon = secondsToHms(data.metricsTotals.totalTimeToAbandon);
                    var enteredQEng = data.metricsTotals.enteredQEng;
                    var avgTimeToAnswer = data.metricsTotals.avgTimeToAnswer;
                    var slaCheck = "<font color='green'>Pass</font>";
                    if (avgTimeToAnswer > parseInt(sla)) {
                        slaCheck = "<font color='red'>Fail</font>";
                    }
                    avgTimeToAnswer = secondsToHms(avgTimeToAnswer);
                    var abandonmentRate = (data.metricsTotals.abandonmentRate * 100).toFixed(0)+"%";
                    var abandonedEng = data.metricsTotals.abandonedEng;
                    var connectedEng = data.metricsTotals.connectedEng;
                    // Update 7/8/16 - Added new queue size information
                    var maxQueueSize = data.metricsTotals.maxQueueSize;
                    var minQueueSize = data.metricsTotals.minQueueSize;
                    var averageQueueSize = (data.metricsTotals.averageQueueSize).toFixed(2);
                    var currentQueueSize = data.metricsTotals.currentQueueSize;
                    var queueSizeSum = data.metricsTotals.queueSizeSum;
                    var queueSizeCount = data.metricsTotals.queueSizeCount;
                    var currentAvailableSlots = data.metricsTotals.currentAvailableSlots;
                    var maxAvailableSlots = data.metricsTotals.maxAvailableSlots;
                    var minAvailableSlots = data.metricsTotals.minAvailableSlots;
                    var averageAvailableSlots = (data.metricsTotals.averageAvailableSlots).toFixed(2);
                    var availableSlotsSum = data.metricsTotals.availableSlotsSum;
                    var availableSlotsCount = data.metricsTotals.availableSlotsCount;
                    oTable.row.add([skillID, avgTimeToAnswer, slaCheck, totalTimeToAnswer, avgTimeToAbandon, totalTimeToAbandon, abandonmentRate, enteredQEng, abandonedEng, connectedEng, maxQueueSize, minQueueSize, averageQueueSize, currentQueueSize, queueSizeSum, queueSizeCount, currentAvailableSlots, maxAvailableSlots, minAvailableSlots, averageAvailableSlots, availableSlotsSum, availableSlotsCount]).draw();
                    // metric totals for each skill group
                    if (data.hasOwnProperty('skillsMetrics')) {
                        for (var skill in data.skillsMetrics) {
                            // data available for each skill
                            if (skillList.hasOwnProperty(skill)) {
                                skillID = skillList[skill];
                            } else {
                                if (skill == -1) {
                                    skillID = "Unassigned"
                                } else {
                                    skillID = skill;
                                }
                            }
                            avgTimeToAbandon = secondsToHms(data.skillsMetrics[skill].avgTimeToAbandon);
                            totalTimeToAnswer = secondsToHms(data.skillsMetrics[skill].totalTimeToAnswer);
                            totalTimeToAbandon = secondsToHms(data.skillsMetrics[skill].totalTimeToAbandon);
                            enteredQEng = data.skillsMetrics[skill].enteredQEng;
                            avgTimeToAnswer = data.skillsMetrics[skill].avgTimeToAnswer;
                            if (avgTimeToAnswer > parseInt(sla)) {
                                slaCheck = "<font color='red'>Fail</font>";
                            } else {
                                slaCheck = "<font color='green'>Pass</font>";
                            }
                            avgTimeToAnswer = secondsToHms(avgTimeToAnswer);
                            abandonmentRate = (data.skillsMetrics[skill].abandonmentRate*100).toFixed(0)+"%";
                            abandonedEng = data.skillsMetrics[skill].abandonedEng;
                            connectedEng = data.skillsMetrics[skill].connectedEng;
                            maxQueueSize = data.skillsMetrics[skill].maxQueueSize;
                            minQueueSize = data.skillsMetrics[skill].minQueueSize;
                            averageQueueSize = (data.skillsMetrics[skill].averageQueueSize).toFixed(2);
                            currentQueueSize = data.skillsMetrics[skill].currentQueueSize;
                            queueSizeSum = data.skillsMetrics[skill].queueSizeSum;
                            queueSizeCount = data.skillsMetrics[skill].queueSizeCount;
                            currentAvailableSlots = data.skillsMetrics[skill].currentAvailableSlots;
                            maxAvailableSlots = data.skillsMetrics[skill].maxAvailableSlots;
                            minAvailableSlots = data.skillsMetrics[skill].minAvailableSlots;
                            averageAvailableSlots = (data.skillsMetrics[skill].averageAvailableSlots).toFixed(2);
                            availableSlotsSum = data.skillsMetrics[skill].availableSlotsSum;
                            availableSlotsCount = data.skillsMetrics[skill].availableSlotsCount;
                            oTable.row.add([skillID, avgTimeToAnswer, slaCheck, totalTimeToAnswer, avgTimeToAbandon, totalTimeToAbandon, abandonmentRate, enteredQEng, abandonedEng, connectedEng, maxQueueSize, minQueueSize, averageQueueSize, currentQueueSize, queueSizeSum, queueSizeCount, currentAvailableSlots, maxAvailableSlots, minAvailableSlots, averageAvailableSlots, availableSlotsSum, availableSlotsCount]).draw();
                        }
                    }
                }
                 else {
                    window.location.href = "/error";
                }
            }
        });
    }

</script>
<script src="/js/custom.js"></script>
