<div class="right_col" role="main">
    <div class="row" id="hiddenTablePanel1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Engagement Activity - Agent Level</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <div id="time"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example2" class="table table-striped responsive-utilities cell-border">
                        <thead>
                            <tr class="headings">
                                <th title="The id of the agent.">Agent ID</th>
                                <th title="The number of interactive chats that took place in the current interval/time frame.">Total Interactive Chats</th>
                                <th title="The number of non-interactive chats that took place in the current interval/time frame.">Total Non Interactive Chats</th>
                                <th title="The total time in seconds that was spent handing the interactive chats in the current interval/time frame.">Total Handling Time</th>
                                <th title="The total time in seconds that was spent handing the noninteractive chats in the current interval/time frame.">Total Non Interactive Handling Time</th>
                                <th title="The number of chats connected to an agent in the current interval/time frame.">Connected Engagements</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h1><i>Most Interactive Chats</i></h1>
                    <div class="left col-xs-7">
                        <h1 style="text-align: center;" id="mostchatsname"></h1>
                        <h1>Total Interactive Chats Taken: <span id="mostchatstotal"></span></h1>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img id="interactivePic" src="images/user.png" alt="" class="img-circle img-responsive" onError="this.onerror=null;this.src='images/user.png';">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h1><i>Lowest Average Handling Time</i></h1>
                    <div class="left col-xs-7">
                        <h1 style="text-align: center;" id="mostchatsname2"></h1>
                        <h1>Average Handling Time (mm:ss): <span id="mostchatstotal2"></span></h1>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img id="lowestPic" src="images/user.png" alt="" class="img-circle img-responsive" onError="this.onerror=null;this.src='images/user.png';">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // variable for lowest handling time
    var fastTime = null;
    // variable for lowest handling time agent name
    var fastTimeName = "";
    // variable for lowest handling time agent pic
    var fastTimeAgentPic = "";
    // variable for most chats
    var mostChats = 0;
    // variable for agent name
    var mostChatsAgentName = "";
    // variable for agent pic
    var mostChatsAgentPic = "";
    //variable for the list of agents
    var agentList = null;
    //document ready
    $(document).ready(function() {
        //hide the data table
        $('#hiddenTablePanel1').hide();
        //get the agent list from the csv
        $.ajax({
            type: 'GET',
            url: '/agentList',
            success: function(data) {
                agentList = data;
                //console.log(agentList);
                getData();
            }
        });
    });
    //populates the data table by calling the Real Time API
    function getData() {
        var oTable2 = $('#example2').DataTable();
        $.ajax({
            type: 'GET',
            url: '/engagementActivity',
            success: function(data) {
                if(data.Fail != "undefined" && data.Fail != "404"){
                    oTable2
                    .clear()
                    .draw();
                    // data that is available 
                    var agentId;
                    var agentPicId;
                    var totalInteractiveChats;
                    var totalNonInteractiveChats;
                    var totalHandlingTime;
                    var nonInteractiveTotalHandlingTime;
                    var connectedEngagements;
                    // agent metrics table
                    if (data.hasOwnProperty('agentsMetrics')) {
                        $('#table2').show();
                        for (var agent in data.agentsMetrics.metricsPerAgent) {
                            agentPicId = 'agentImages/'+agent+'.png';
                            if (agentList.hasOwnProperty(agent)) {
                             agentId = agentList[agent].nickname;
                         } else {
                            agentId = agent;
                        }
                        totalInteractiveChats = data.agentsMetrics.metricsPerAgent[agent].totalInteractiveChats;
                        totalNonInteractiveChats = data.agentsMetrics.metricsPerAgent[agent].totalNonInteractiveChats;
                        totalHandlingTime = data.agentsMetrics.metricsPerAgent[agent].totalHandlingTime;
                        nonInteractiveTotalHandlingTime = data.agentsMetrics.metricsPerAgent[agent].nonInteractiveTotalHandlingTime;
                        connectedEngagements = data.agentsMetrics.metricsPerAgent[agent].connectedEngagements;
                            // add to data table
                            oTable2.row.add([agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                            if (totalInteractiveChats > mostChats) {
                                mostChats = totalInteractiveChats;
                                mostChatsAgentName = agentId;
                                mostChatsAgentPic = agentPicId;
                            }
                            if (fastTime == null) {
                                fastTime = totalHandlingTime / totalInteractiveChats;
                                console.log(fastTime);
                                if(isNaN(fastTime)){
                                    console.log(1);
                                    fastTime = null;
                                }
                                else {
                                    fastTimeName = agentId;
                                    fastTimeAgentPic = agentPicId;
                                }
                            } else {
                                if ((totalHandlingTime / totalInteractiveChats) < fastTime) {
                                    fastTime = totalHandlingTime / totalInteractiveChats;
                                    fastTimeName = agentId;
                                    fastTimeAgentPic = agentPicId;
                                }
                            }
                        }
                        // totals for all agents
                        agentId = "All";
                        totalInteractiveChats = data.agentsMetrics.metricsTotals.totalInteractiveChats;
                        totalNonInteractiveChats = data.agentsMetrics.metricsTotals.totalNonInteractiveChats;
                        totalHandlingTime = data.agentsMetrics.metricsTotals.totalHandlingTime;
                        nonInteractiveTotalHandlingTime = data.agentsMetrics.metricsTotals.nonInteractiveTotalHandlingTime;
                        connectedEngagements = data.agentsMetrics.metricsTotals.connectedEngagements;
                        // add to data table
                        oTable2.row.add([agentId, totalInteractiveChats, totalNonInteractiveChats, totalHandlingTime, nonInteractiveTotalHandlingTime, connectedEngagements]).draw();
                    }
                    $('#mostchatsname').html(mostChatsAgentName);
                    $('#mostchatstotal').html(mostChats);
                    $('#mostchatsname2').html(fastTimeName);
                    $('#mostchatstotal2').html(secondsToHms(Math.round(fastTime)));
                    $('#lowestPic').attr("src", fastTimeAgentPic);
                    $('#lowestPic').attr("onError", "this.onerror=null;this.src='images/user.png';");
                    $('#interactivePic').attr("src", mostChatsAgentPic);
                    $('#interactivePic').attr("onError", "this.onerror=null;this.src='images/user.png';");
               }
                else {
                    window.location.href = "/error";
                }
        }
        });
    }

</script>
<script src="/js/custom.js"></script>
