<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Real Time Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="/css/custom.css" rel="stylesheet">
  <!-- Main CSS -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- JQuery -->
  <script src="/js/jquery.min.js"></script>
</head>

<body ng-controller="mainController" class="nav-sm">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <!-- sidebar menu -->
          <div id="sidebar-menu-new" class="main_menu_side hidden-print main_menu">
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>
      <!-- page content -->
      <!-- MAIN CONTENT AND INJECTED VIEWS -->
      <div id="main">
        <div class="right_col" role="main">
          <div class="col-md-12">
            <div class="col-middle">
              <div class="text-center text-center">
              <h2>Dashboard Is Loading...</h2>
                <h5><div id="statusDiv">{"Stats":"Warming Up"}</div></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>

  <script src="/js/bootstrap.min.js"></script>
  <!-- bootstrap progress js -->
  <script src="/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="/js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- pace -->
  <script src="/js/pace/pace.min.js"></script>
  <!-- customjs -->
  <script type="text/javascript" src="/js/custom.js"></script>
      <script type="text/javascript">
     var completed = false;
     var refreshIntervalId = setInterval(function(){ 
        console.log("running");
        $.ajax({
            type: 'GET',
            url: '/startupStatus',
            success: function(data) {
                $('#statusDiv').html(JSON.stringify(data));
                console.log(data);
            }
        });
    }, 3000);

     $.ajax({
        type: 'GET',
        url: '/startup',
        success: function(data) {
         $('#statusDiv').html(JSON.stringify(data));
         console.log(data);
         completed = true;
         console.log(completed);
         clearInterval(refreshIntervalId);
         if(data.Fail != "undefined" && data.Fail != "404"){
             window.location.href = "/graphsDashboard";
         }
         else {
            /*
            setTimeout(function(){ 
                window.location.href = "/error";
            }, 3000);
            */
            window.location.href = "/error";
        }
    }
});
</script>
</body>
</html>